@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-in {
  right: -500px;
  animation: slide-in 0.3s ease forwards;
}
.slide-out {
  right: 10px;
  animation: slide-out 0.3s ease forwards;
}

@keyframes slide-in {
  from {
    right: -500px;
  }
  to {
    right: 10px;
  }
}
@keyframes slide-out {
  from {
    right: 10px;
  }
  to {
    right: -500px;
  }
}
